{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<section class="page-header">
  <div class="container">
    <div class="profile-image">
      <img src="{{ object.profile_image.url }}">
    </div>
    <div class="profile-info">
      <h2>{{ object.username }}</h2>
      {% if object == request.user %}
        <div class="action-btns">
          <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
          <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
          <a class="btn btn-primary" href="{% url 'new_entry' %}" >New Entry</a>
        </div>
      {% endif %}
    </div>
  </div>
</section>

<br>
<!-- End Action buttons -->
{% for entry in user_entries %}
    {% include 'components/entry.html' %}
{% endfor %}
<hr>
<h2>DRAFTS</h2>
{% for entry in user_entries_drafts %}
    {% include 'components/entry.html' %}
{% endfor %}



<hr>
<h2>PUBLISHED & PUBLIC</h2>
{% for entry in user_entries_published %}
    {% include 'components/entry.html' %}
{% endfor %}

</div>
{% endblock content %}

