{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
{% include "users/includes/user_header.html" %}

<br>
<!-- End Action buttons -->
{% for entry in user_entries %}
    {% include 'components/entry.html' %}
{% endfor %}
<hr>
<h2>DRAFTS</h2>
{% for entry in user_entries_drafts %}
    {% include 'components/entry.html' %}
{% endfor %}



<hr>
<h2>PUBLISHED & PUBLIC</h2>
{% for entry in user_entries_published %}
    {% include 'components/entry.html' %}
{% endfor %}

</div>
{% endblock content %}

