{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.username }}</h2>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
    <a class="btn btn-primary" href="{% url 'new_entry' %}" >New Entry</a>
  </div>

</div>
<!-- End Action buttons -->
<!-- {% for entry in entries_by_user %}<br />
        <p>PUBLISHED: {{ entry.published_date }}</p>
        <p>AUTHOR: {{ entry.author }}</p>
        <h1><a href="{% url 'entry_detail' pk=entry.pk %}">{{ entry.title }}</a></h1>
        <p>{{ entry.content|truncatechars:255|striptags }}</p>
    {% endfor %} -->

{% endif %}


</div>
{% endblock content %}

