{% extends "base.html" %}

{% block body_class %}home{% endblock %}
{% block maincontent_class %}home-content{% endblock %}

{% block content %}

<section class="intro">
  <div class="intro-bg"></div>
  
    <div class="intro-text">
      <h2>A modern, anonymous, online writing platform.</h2>
      <a href="{% url 'account_signup' %}" class="btn">Start Writing</a>
    </div>
    <div class="learn-more">
        Learn More<br>
        <i class="fas fa-chevron-down"></i>
      </div>
 
</section>
  <div class="container">
    <div class="row">
      <!-- <div class="col-lg-12">
        <p>Welcome to MyAnonymousDiary - an online, anonymous writing platform where you can share, gather, and organize your thoughts. Entries can be posted publically, or kept private just for yourself.</p> 
        <p>MAD strives to be a modern, elegant, and simple writing space for all.</p>
      </div>
      <div class="col-lg-6">
          <h2>Updates</h2>
          {% for entry in updates_list %}
            {% include 'components/entry.html' %}
          {% endfor %}
      </div> -->
      
    </div>
    
    <!-- <h2>Recent Entries</h2> -->
    
  </div>
  <div class="entries container">
    <div class="grid">
      {% for entry in entry_list %}
        {% include 'components/entry.html' %}
      {% endfor %}
    </div>
  </div>
  {% endblock content %}