{% extends "base.html" %}

{% block body_class %}home{% endblock %}
{% block maincontent_class %}home-content{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <!-- <div class="col-lg-12">
        <p>Welcome to MyAnonymousDiary - an online, anonymous writing platform where you can share, gather, and organize your thoughts. Entries can be posted publically, or kept private just for yourself.</p> 
        <p>MAD strives to be a modern, elegant, and simple writing space for all.</p>
      </div> -->
      <!-- <div class="col-lg-6">
          <h2>Updates</h2>
          {% for entry in updates_list %}
            {% include 'components/entry.html' %}
          {% endfor %}
      </div> -->
    </div>
    
    <!-- <hr>
    <h2>Entries</h2> -->
    
  </div>
  <div class="entries">
    <div class="grid">
      {% for entry in entry_list %}
        {% include 'components/entry.html' %}
      {% endfor %}
    </div>
  </div>
  {% endblock content %}