{% extends "base.html" %}

{% block body_class %}home{% endblock %}
{% block maincontent_class %}home-content{% endblock %}

{% block content %}
  <div class="container">
      <h1>HOME</h1>
      <p>Use this document as a way to quick start any new project.</p>

      ENTRIES




     



        {% for entry in object_list %}<br />
            <p>published: {{ entry.published_date }}</p>
            <h1><a href="{% url 'entry_detail' pk=entry.pk %}">{{ entry.title }}</a></h1>
            <p>{{ entry.text|truncatechars:255|striptags }}</p>
        {% endfor %}
  </div>
{% endblock content %}