{% extends "base.html" %}

{% block body_class %}home{% endblock %}
{% block maincontent_class %}home-content{% endblock %}

{% block content %}
    <div class="container">
    <h1>HOME</h1>
    <hr>
    <h2>UPDATES</h2>
    {% for entry in updates_list %}<br />
        <p>PUBLISHED: {{ entry.published_date }}</p>
        <p>AUTHOR: {{ entry.author }}</p>
        <h1><a href="{% url 'entry_detail' pk=entry.pk %}">{{ entry.title }}</a></h1>
        <p>{{ entry.content|truncatechars:255|striptags }}</p>
    {% endfor %}
    <hr>
    <h2>ENTRIES</h2>
    {% for entry in entry_list %}<br />
        <p>PUBLISHED: {{ entry.published_date }}</p>
        <p>AUTHOR: {{ entry.author }}</p>
        <h1><a href="{% url 'entry_detail' pk=entry.pk %}">{{ entry.title }}</a></h1>
        <p>{{ entry.content|truncatechars:255|striptags }}</p>
    {% endfor %}
    </div>
{% endblock content %}