{% extends "base.html" %}
{% load i18n bootstrap4 %}

{% block content %}
<div class="box">
  <div class="content-header">
    <h1>Edit Entry: <a href="{% url 'entry_detail' pk=entry.pk %}" class="btn btn-back">cancel</a></h1>
  </div>

  <form method="POST">
    {% bootstrap_form form %}
   
    {% csrf_token %}
    {% buttons %}
        {% if form.instance.draft == True %}
            {% bootstrap_button _("Save Draft") button_type="submit" button_class="btn-primary" name="save_as_draft" %}
            {% bootstrap_button _("Publish") button_type="submit" button_class="btn-primary" name="publish" %}
        {% else %}
            {% bootstrap_button _("Save") button_type="submit" button_class="btn-primary" name="save" %}
        {% endif %}
    {% endbuttons %}
  </form>
</div>
{% endblock %}
