.entries {
  padding-left: 1%;
  width: 100%;
}

.entry {
  background: $ltgray;
  padding: 20px;
  width: calc(33.33333333% - 10px);
  transition: .8s opacity;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 5px;

  span {
    margin-right: 30px;
  }
}