.entries {
  padding: 10px 0 10px 1%;
  width: 100%;
  margin-top: 100px;
  // background: url('../../static/images/sky.jpg');
  // background-size: cover;
}

.entry {
  background: rgba(255, 255, 255, 0.7);
  padding: 20px;
  width: calc(33.33333333% - 10px);
  transition: .8s opacity;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 10px;
  border: 1px solid $gray-500;

  a {
    color: $black;
  }

  span {
    margin-right: 30px;
  }
}