.footer {
  background: $white;

  > .container {
    display: flex;
    justify-content: flex-end;
    padding: 30px 50px;
  } 

  .footer-logo {
    font-family: $logofont;
    font-size: 55px;
    display: inline-block;
    color: $black;
    line-height: 1em;
  }
}