.footer {
  > .container {
    display: flex;
    justify-content: flex-end;
  } 

  .footer-logo {
    font-family: $logofont;
    font-size: 81px;
    display: inline-block;
    color: $black;
    line-height: 1em;
  }
}