.btn {
  border: 1px solid transparent;
  border-radius: 0;
  color: $white;
  letter-spacing: .5px;
  font-size: 18px;
  background: $teal;

  &:hover {
    color: $black;
    background: transparent;
    border-color: $black;
  }

  &.active {
    background: $gray-700 !important;
    border-color: $gray-700 !important;
  }

  i {
    font-size: .9rem;
    margin-left: 5px;
  }
}

.secondaryAction {
  margin-left: 10px;
}