.btn {
  border: 1px solid transparent;
  border-radius: 0;
  color: $white;
  letter-spacing: 1px;
  font-size: 18px;
  background: $purple;

  &:hover {
    color: $purple;
    background: transparent;
    border-color: $purple;
  }
}

.secondaryAction {
  margin-left: 10px;
}