h1 {
  font-family: $brandfont;
  font-weight: 600;
  color: $black;
  line-height: 1.4em;
  font-size: 1.9rem;

  &.logo {
    font-family: $logofont;
    font-family: $logofont;
    font-size: 55px;
    line-height: 1em;
    letter-spacing: -3px;
    padding: 5px 0;
    font-size: 5vw;
    margin-right: 0;
    font-weight: 400;
  }
}

h2 {
  font-family: $brandfont;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

h3 {
  font-family: $brandfont;
  font-size: 24px;
}