h1 {
  font-family: $brandfont;
  font-weight: 600;
  margin-bottom: 20px;
  color: $black;
  line-height: 1.4em;
  font-size: 1.9rem;
}

h2 {
  font-family: $brandfont;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

h3 {
  font-family: $brandfont;
  font-size: 24px;
}