//
// Colors //
//
$white: #fff;
$black: #111;
$ltgray: #eee;
$blue: #28bbff;
$orange: #f8960e;
$green: rgb(28, 241, 231);

//
// Fonts //
//
$logofont: 'Reenie Beanie', cursive;
$brandfont: 'Muli', sans-serif;
$textfont: 'Roboto', serif;