//
// Colors //
//
$white: #fff;
$black: #111;
$gray: #888;
$ltgray: #eee;
$teal: #2db0b9;
$ltteal: #b9e4e7;
$drkteal: #00949e;
$orange: #f8960e;
$green: rgb(28, 241, 231);
$purple: #5e40f5;
$ltpurple: #bbc4ef;
$pink: #fccdd3;
$transparentgray: rgba(255, 255, 255, .7);
$transparentgray9: rgba(255, 255, 255, .9);

//
// Fonts //
//
$logofont: 'Reenie Beanie', cursive;
$brandfont: 'Muli', sans-serif;
$textfont: 'Montserrat', sans-serif;