//
// Colors //
//
$white: #fff;
$black: #111;
$gray: #888;
$ltgray: #eee;
$blue: #62bcfa;
$orange: #f8960e;
$green: rgb(28, 241, 231);
$purple: #5E40F5;
$ltpurple: #bbc4ef;
$pink: #fccdd3;

//
// Fonts //
//
$logofont: 'Reenie Beanie', cursive;
$brandfont: 'Muli', sans-serif;
$textfont: 'Roboto', serif;